{% extends "layout.html" %}
{% block content %}
<div class="text-header">
    <h1 class="text">Exchange Rates</h1>
</div>
<div class="row p-4">
    <div class="card ml-auto mr-auto mb-4 m"
        style="width:100% ;"
        data-aos="zoom-in">
        <div class="card-body">
        
            <div id="chart">

            </div>
            <p>
                Get monthly analysis by selecting required year form the dropdown for all countries in the legend. For better visualization select maximum 6 countries at a time.
            </p>
        </div>
    </div>
    <div class="card  ml-auto mr-auto mb-4"
        style="width:50% ;"
        data-aos="fade-right">
        <div class="card-body">
            <div id="chart1">

            </div>
            <p>
                Get YoY trend for any selected country in the dropdown along with a slicers & buttons for years.
            </p>
        </div>
    </div>
    <div class="card ml-auto mr-auto mb-4"
        style="width:50% ;"
        data-aos="fade-left">
        <div class="card-body">
            <div id="chart2">

            </div>
            <p>
                Get YoY trend for multiple countries selected in the legend along with a slicers & buttons for years.
            </p>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="card ml-auto mr-auto mb-4 m"
        style="width:100% ;"
        data-aos="zoom-in">
        <div class="card-body">
            <div id="chart3">

            </div>
            <p>
               Get CAGR analysis for selected country for different number of years from Current year (i.e.3yrs means previous 3 years from current year.)
            </p>
        </div>
    </div>
    <div class="card  ml-auto mr-auto mb-4"
        style="width:50% ;"
        data-aos="fade-right">
        <div class="card-body">
            <div id="chart4">

            </div>
            <p>
                Get CAGR analysis of all the countries for different number of years from Current year (i.e.3yrs means previous 3 years from current year.). Pan & zoom on a particular country.
            </p>
        </div>
    </div>
    <div class="card ml-auto mr-auto mb-4"
        style="width:50% ;"
        data-aos="fade-left">
        <div class="card-body">
            <div id="chart5">

            </div>
            <p>
                Get CAGR analysis of multiple countries for different number of years from Current year (i.e.3yrs means previous 3 years from current year.).For better visualization select maximum 4 countries at a time. Pan & zoom on a particular year.
            </p>
        </div>
    </div>
</div>
<!-- plotly cdn -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>


<script>
    var graphs1 = {{ graph1JSON | safe}};
    Plotly.plot("chart", graphs1, {});

    var graphs2 = {{ graph2JSON | safe}};
    Plotly.plot("chart1", graphs2, {});

    var graphs3 = {{ graph3JSON | safe}};
    Plotly.plot("chart2", graphs3, {});

    var graphs1 = {{ graph4JSON | safe}};
    Plotly.plot("chart3", graphs1, {});

    var graphs2 = {{ graph5JSON | safe}};
    Plotly.plot("chart4", graphs2, {});

    var graphs3 = {{ graph6JSON | safe}};
    Plotly.plot("chart5", graphs3, {});

</script>

<style>
#multiple{
   width : 7% ;
   height : 30px ;
   text-align : center;
   border-radius: 12px;
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  cursor: pointer;
  border-radius: 12px;
}
.button1 {background-color: #4CAF50;} /* Green */

</style>

{% endblock %}
